.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}
.about > :nth-child(2) {
  margin-top: 1.2em;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

.about__desc {
  font-size: 1rem;
  max-width: 70%;
  text-align: center;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
  color: var(--clr-primary);
}

.about .btn--outline {
  margin-right: 1em;
}

.btnResume{
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 15px;
}

.btnResume:hover{
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow-down {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary); 
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .mobileHead{
    text-align: center;
  }
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }
  .about > :nth-child(2) {
    font-size: 1.5rem;
  }
  .scroll-arrow {
    display: none; 
  }
}
