
.contact-form {
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: var(--clr-background);
    border-radius: 10px;
    border: 4px solid var(--clr-primary);
    border-radius: 20px;
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--clr-primary); 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--clr-primary); 
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-primary);
    border-radius: 10px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--clr-background); 
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
  

  