
  .App {
    align-items: center;
    display: grid;
    justify-content: center;
  }
  .carousel__list {
    align-items: center;
    display: grid;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    max-width: 60rem;
    overflow: hidden;
    margin-bottom: 3.5rem;
    list-style-type: none;
  }
  .carousel__item {
    grid-column: 1;
    grid-row: 1;
    line-height: 1.2;
    text-align: center;
    transition: transform 0.2s;
  }
  .carousel__item.active {
    transform: translateX(0);
  }
  .carousel__item.left {
    transform: translateX(-110%);
  }
  .carousel__item.right {
    transform: translateX(110%);
  }
  .carousel__indicator {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    justify-self: center;
  }
  .carousel__dot {
    background-color: var(--clr-fg);
    border-radius: 50%;
    border: none;
    display: block;
    height: 0.6rem;
    width: 0.6rem;
  }
  .carousel__dot.active {
    background-color: var(--clr-primary);
  }
  .carousel__citation {
    display: block;
    font-size: 0.8rem;
    font-style: normal;
    margin-bottom: 1.25rem;
  }
  .carousel__name {
    display: block;
    font-style: normal;
    font-weight: 600;
    color: var(--clr-primary);
    font-size: 1.09rem;
  }
  .carousel__quote {
    font-style: italic;
    line-height: 1.5;
  }
  