.footerBox {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  background-color: transparent; 
}

.footer-phrase {
  font-size: 14px; 
  text-align: center; 
  margin-bottom: 20px; 
}

.footer-social {
  text-align: center; 
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 24px; 
}
.github-icon {
  color: var(--clr-fg);
}

.linkedin-icon {
  color: var(--clr-fg);
}

.twitter-icon {
  color: var(--clr-fg);
}

.instagram-icon {
  color: var(--clr-fg);
}

.github-icon:hover {
  color: #000; 
}

.linkedin-icon:hover {
  color: #0077B5;
}

.twitter-icon:hover {
  color: #1DA1F2; 
}

.instagram-icon:hover {
  color: #E4405F; 
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.footer-copyright {
  text-align: center;
  color: var(--clr-primary); 
  margin-top: 20px; 
}

@media (max-width: 600px) {
  .footerBox{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
  }
}