.my-floating-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.my-floating-menu .my-main-button {
    background-color: var(--clr-bg); 
    border: solid 2.5px var(--clr-primary); 
}

.color-button {
    color: var(--clr-primary);
    font-size: 30px;
}

@media (max-width: 900px) {
    .my-floating-menu .my-main-button {
      display: none;
    }
}
  